<div class="col-1"></div>

<div class="col-10 bg-light bar">
    <div class="mx-5 my-3">
        <h2 class="text-center">Create a Post</h2>
        <form class="" id="newPost">
            <div class="form-floating my-2">
                <input type="text" class="form-control" id="title" placeholder="Title" required/>
                <label for="title">Title</label>
            </div>
            <div class="form-floating my-2">
                <textarea class="form-control" id="content" placeholder="Post Content Here" style="height: 150px;" required></textarea>
            <label for="content">Post Content Here</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" class="btn btn-outline-secondary my-1" value="Create Post" id="createPostSubmit">
            </div>
        </form>
    </div>

    <div id="currentPosts">
        <h3 class="text-center">Your Posts</h3>
        <div class="my-4 mx-2">
        {{#each posts as |post|}}
        <div class="post-box bg-silver my-2">
            <div class="row px-2">
                <div class="col-10 my-2">
                    <a class="text-decoration-none text-dark" data-bs-toggle="collapse" data-bs-target="#post{{post.id}}" aria-expanded="true" aria-controls="post{{post.id}}">
                        <h4 class="">{{post.title}}</h4>
                    </a>  
                </div>
                <div class="col-2 my-2 d-flex justify-content-end">
                    <a class="text-decoration-none text-dark" data-bs-toggle="collapse" data-bs-target="#editPost{{post.id}}" aria-expanded="true" aria-controls="editPost{{post.id}}">
                        <button type="button" class="btn btn-secondary" style="height: 40px;">Edit Post</button>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="collapse" id="editPost{{post.id}}">
                        <div class="card card-body bg-silver">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="updateTitle{{post.id}}" placeholder="{{post.title}}">
                                <label for="updateTitle{{post.id}}">{{post.title}}</label>
                            </div>  
                            <div class="form-floating">
                                <textarea class="form-control" id="updateContent{{post.id}}" style="height: 125px;" placeholder="None"></textarea>
                                <label for="updateContent{{post.id}}">New Content</label>
                            </div>
                            <div class="row">
                                <div class="d-flex align-items-center ">
                                    <button type="button" class="btn btn-secondary mt-3" id="update:{{post.id}}">
                                        Update Post
                                    </button>
                                    <button type="button" class="btn btn-danger mt-3 ms-auto" id="delete:{{post.id}}">
                                        Delete Post
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="collapse" id="post{{post.id}}">
                        <div class="card card-body bg-silver">
                            {{post.content}}
                            <div class="row">
                                <div class="d-flex align-items-center ">
                                    <button class="btn btn-secondary mt-1" data-bs-toggle="collapse" data-bs-target="#comments{{post.id}}" aria-expanded="true" aria-controls="comments{{post.id}}">
                                        Comments:
                                    </button>
                                    <p class="px-2">Total Comments: {{comments.length}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="collapse mt-2" id="comments{{post.id}}">
                                {{> comments post.comments}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
</div>

<div class="col-1"></div>
<script src="./javascript/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
crossorigin="anonymous"></script>